# Carga variables desde .env (PROJECT_ID, REGION, etc.)
dotenv

# # Para que gcloud use este proyecto/región al entrar a la carpeta
# export CLOUDSDK_CORE_PROJECT="${PROJECT_ID:-}"
# export CLOUDSDK_COMPUTE_REGION="${REGION:-}"